
<div class="container">
<div class="book-list-container">
  <% @books.each do |book| %>
  <div class="book-card">
  <% if book.photo.attached? %>
    <%# <%= image_tag %>
    <%= cl_image_tag book.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
    <%= image_tag(["blood_book.jpg"].sample) %>
    <% end %>
    <div class="book-content">
      <div class="book-title">
      <p> <%= book.title %> </p>
      <p> <%= book.author %> </p>
    </div>
    <div class="details-button">
      <%= link_to "Details", book_path(book)%>
    </div>
  </div>

  <%= link_to "Share your book", root_path %>
</div>
<% end %>
</div>
<%= link_to "Homepage", root_path %>
</div>
<%# this is just a type comment %>
