<div class="map-container mt-5"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
</div>

<div class="container">
  <%= form_with url: books_path, method: :get, class: "d-flex justify-content-center mt-5" do %>
    <%= text_field_tag :query,
                       params[:query],
                       class: "form-control search-bar",
                       placeholder: "Find a book" %>
    <%= submit_tag "Search", class: "btn" %>
  <% end %>

  <div class="book-list-container mt-5">
    <% @books.each do |book| %>
      <div class="book-card hvr-grow">
        <div class="book-content">
          <div class="book-title">
          <%= image_tag book.image_creator(book.genre), class: "mb-4" %>
            <h4><%= book.title %> </h4>
            <p> <%= book.author %> </p>
             <%= link_to "Details", book_path(book) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
