
<div class="container">

  <div class="card-show">
    <div class="row">
      <div class="col-6">
        <%= cl_image_tag @book.photo.key, width:"324,46", height:"327,78" %>
     </div>
      <div class="col-6">
        <p><%= @book.title %></p>
        <p><%= @book.author %></p>
        <p><%= @book.genre %></p>
        <p><%= @book.release_date %></p>
      </div>


      <p><%= @book.synopis %></p>

    <div class="button-container mt-4">
      <%= link_to "Reserve this Book", new_book_reservation_path(@book.id), class:"custombutton" %>
      <%= link_to "Back to Books",  books_path, class:"custombutton" %>
    </div>
  </div>
 </div>

</div>
