<h2 class="reservation-heading heading-color">Spooks you have reserved</h2>
  <div class="reservation-list-container">
    <% @reservations.each do |reservation| %>
      <div class="reservation-card">
        <% if reservation.book.photo.attached? %>

          <% # <%= image_tag %>

          <%= cl_image_tag reservation.book.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag(["blood_book.jpg"].sample) %>
        <% end %>
        <div class="book-content-res">
          <div class="book-title">
            <p> <%= reservation.book.title %> </p>
            <p> <%= reservation.book.author %> </p>
          </div>



          <div class="button-container-res">
            <%= link_to "Delete", reservation_path(reservation), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-res-button" %>
            <%= link_to "Details", book_reservation_path(reservation.book, reservation), class: "delete-res-button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
