<h2 class="reservation-heading">Your Resevation is</h2>

<div class="container">

  <div class="card-show">
    <div class="row">
      <div class="col-6">
         <% if @book.photo.attached? %>
    <%= cl_image_tag @book.photo.key ? @book.photo.key : "book_icon.png", height: 300, width: 400, crop: :fill, style: "background-color: white;" %>
    <% else %>
    <%= image_tag(["book1.jpg", "book2.jpg", "book3.jpg"].sample) %>
    <% end %>
     </div>
      <div class="col-6">
        <div class="info-box"><p><%= @book.title %></p></div>
        <div class="info-box"><p><%= @book.author %></p></div>
        <div class="info-box"><p><%= @book.genre %></p></div>
        <div class="info-box"><p><%= @book.synopsis %></p></div>

        <div>
          <div class="info-box"><p><%= @reservation.reservation_start %></p></div>
          <div class="info-box"><p><%= @reservation.reservation_end %></p></div>
        </div>
      </div>
      </div>
    <div class="button-container mt-4">
      <%= link_to "Back to Home", root_path, class: "custombutton" %>
      <%= link_to "All reservations", reservations_path, class: "custombutton" %>
    </div>
  </div>
 </div>

</div>
