<!DOCTYPE html>
<html>
  <head>
    <title>BookSharing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>

  <footer class="footer">
      <p>Terms and conditons</p>
      <p></p>
      <p></p>
      <p> <%= image_tag "book_icon.png" %> Spooksharing</p>
  </footer>
</html>
